%iframe.background{:allowfullscreen => "allowfullscreen", :frameborder => "0", :src => "https://www.youtube.com/embed/#{video}?autoplay=1&controls=0&loop=1&showinfo=0&rel=0&#{params}"}

.content
  %h1
    = text
